<section class="margin card-panel center-align">
    <h1>Créer evenement</h1>
    <form>
        <div class="input-field">
            <input id="evenementName" type="text">
            <label for="evenementName">Titre d'événement</label>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" id="datePicker">
            <label for="datePicker">Jour</label>
        </div>
        <div class="input-field">
            <input type="text" class="timepicker" id="timePicker">
            <label for="datePicker">Heure</label>
        </div>
        <div class="input-field">
            <input id="addresse" type="text">
            <label for="addresse">Addresse d'événement</label>
        </div>
        <div class = "center-block">
            <a class="waves-effect waves-light btn" id="create">Créer</a>
        </div>
    </form>
</section>