<section>
    <div style='width: 100%; min-height: 675px;' class="col s12 blue-grey">
        <div class="row">
            <div class="col m1"></div>
            <div class="col s11 m10">
                <ul id="groupelist" class="collection with-header">
                    <!-- header -->
                    <li class="collection-header">
                        <h4>Vos Groupes</h4>
                    </li>
                    <!-- content -->
                    <li id="grouperow" class="collection-item">
                        <div>
                            <h4 id="name">${groupe.name}</h4>
                            <a class="secondary-content waves-effect waves-light" id="leave_grp">
                                <i class="material-icons">exit_to_app</i></a>
                            <a class="secondary-content waves-effect waves-light" id="delete_grp">
                                <i class="material-icons">delete_forever</i></a>
                            <p>
                                <div class = "center-block">
                                    <a class="waves-effect waves-light btn" id="Evenements">Nos Evenements</a>
                                    <a class="waves-effect waves-light btn" id="Amis">Nos Amis</a>
                                    <a class="waves-effect waves-light btn" id="Tchat">Notre Tchat</a>
                                </div>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="fixed-action-btn">
                    <a href="#creerGroupe" class="btn-floating btn-large red">
                        <i class="large material-icons">add</i>
                    </a>
                </div>
            </div><!--row end -->
        </div>
        <div class="col m1"></div>
    </div>
</section>