<section>
    <div style='width: 100%; min-height: 675px;' class="col s12 blue-grey">
        <div class="row">
            <div class="col m1"></div>
            <div class="col s11 m10">
                <ul id="tchatlist" class="collection with-header">
                    <li class="collection-header"><h4>Nos discussions</h4></li>
                    <li id="tchatrow" class="collection-item">
                        <div>
                            <p id="name">${tchat.name} +</p>
                            <p id="discussion">${tchat.discussion}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col m1"></div>
        </div><!--row end -->
    </div><!-- background end-->
</section>