<section id="home_section">
    <p></p>
    <div style='width: 100%; height: 620px;
     background: url("../img/friends.jpg") center ;' class="col s12">
        <div class="row" style="padding: 20px">
            <p></p>
            <p class="hide-on-med-and-down"></p>
            <div class="col s12 m3 center-align">
            <div class="card-panel teal">
                <a href="#groupes" id="groupes">
                    <h4 class="white-text center">
                        Groupes d'amis
                    </h4>
                </a>
            </div>
            </div>
            <div class="col m1"></div>
            <div class="col s12 m4 center-align">
                <div  id="agenda" class="card-panel teal">
                    <a href="#agenda">
                        <h4 class="white-text center">
                            Agenda évènements
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col m1"></div>
            <div class="col s12 m3 center-align">
                <div  id="invitation" class="card-panel teal">
                    <a href="#invitationList">
                        <h4 class="white-text center">
                            Invitations
                        </h4>
                        <h4></h4>
                    </a>
                </div>
            </div>
        </div> <!-- row end -->
    </div>
</section>