<section class="margin" class="card-panel center-align">
    <h1>Home</h1>
    <div class="align-children-row">
        <div class="row">
            <div class="col s12 m9">
                <a href="#groupes">
                    <div  id="groupes" class="card-panel teal waves-effect waves-light">
                    <span class="white-text center">
                        Groupes d'amis
                    </span>
                    </div>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col s12 m9">
                <a href="#agenda">
                    <div  id="agenda" class="card-panel teal waves-effect waves-light">
                    <span class="white-text center">
                        Agenda évènements
                    </span>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>