<section  style="margin-left: 35px; margin-right: 35px">
    <div class="row">
        <div class="col s12 m6">
            <h3 class="center-align">Welcome</h3>
            <p class="hide-on-med-and-down"></p>
            <img src='../img/logo2.png' alt="" class="responsive-img">
        </div>
        <div class="col s12 offset-m1 m5">
            <p class="hide-on-med-and-down"></p>
            <h3 class="center-align">Connexion</h3>
            <p class="hide-on-med-and-down"></p>
            <div class="divider"></div>
            <p class="hide-on-med-and-down"></p>
            <p class="hide-on-med-and-down"></p>
            <form>
                <div class="input-field">
                    <input id="login" type="text">
                    <label for="login">Login</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password">
                    <label for="password">Password</label>
                </div>
                <p class="hide-on-med-and-down"></p>
                <div class="center-align">
                    <a class="waves-effect waves-light btn" id="Connection">Connexion</a>
                </div>
                <p></p>
                <div class="center-align">
                    <a href="#inscription" class="waves-effect waves-light btn" id="Inscription">Inscription</a>
                </div>
            </form>
        </div>
    </div><!--row end -->
</section>